body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(120,120,120);
    color: rgb(39,39,39);
}
h1{
    color: rgb(16, 40, 20)
    text-decoration: underline; 
    background-color: rgb(40, 40, 40,); 
    font-size: 3em 

}
    p ul, ol, table{
        text-align: left;
        max-width: 700px; 
        margin: 0 auto 1em auto
}

ul, ol {
    padding-left: 120px;

}

table {
    color:rgb(96, 84, 157);
    background-color:blue;
    box-shadow: 5px -5px 4px rgb(0,0,0);


}